<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form method="post" action="register">
        {% csrf_token %}
        First Name: <input type="text" name="first_name" placeholder="First Name"><br>
        Last Name: <input type="text" name="last_name" placeholder="Last Name"><br>
        Username: <input type="text" name="username" placeholder="Use Name"><br>
        Email: <input type="email" name="email" placeholder="email"><br>
        Password: <input type="password" name="password1" placeholder="Password"><br>
        Password again: <input type="password" name="password2" placeholder=" Confirm Password"><br>
        <input type="submit">
        {% for message in messages%}
        <br><br><h1>{{message}}</h1>
        {%endfor%}
    </form>
</body>
</html>